/**
 * Author: carlos Galdona 301271660
 * Date: December 05, 2024
 */
.App {
  background-color: #3d496d;
  text-align: center;  
	margin-right: auto;
	margin-left: auto;	
	
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-right: auto;
	margin-left: auto;	
	padding: 10px;
  background-color: #3d496d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9f9f9f; 
 
}

.custom-navbar {
  background-color: #9f9f9f; 
  color: #003366; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(8px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

